<h1>Add a new City</h1>

<form action="http://localhost:3000/add_city">

  <div>
    <label for="name">Name</label>
    <input name="city" type="text" id="name" placeholder="Enter city name">
  </div>

  <br>
  <div>
    <label for="country">Country</label>
    <input name="country" type="text" id="country" placeholder="Enter country name">
  </div>

  <br>
  <div>
    <label for="population">Population</label>
    <input name="population" type="text" id="population" placeholder="Enter population as integer">
  </div>

  <br>
  <div>
    <input type="submit" value="Create city"> or <a href="index.html">Cancel</a>
  </div>

</form>

